*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.logo {
    width: 90px;
    height: auto;
}
.seccion-azul{
    background-repeat: no-repeat;
    background-color:#529CF1;
    color: white;
    font-style: arial;
    padding-top: 250px;
    padding-bottom: 250px;
}
.button{
    text-decoration: none;
    width: 100px;
    color: white;
    border-radius: 30px;
    background-color: #26B75A;
    padding-left: 30px; 
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu{
    display: none;
}
.link {
    text-decoration: none;
    padding: 5px;
    color: white;
}
.barra{
    color: white;
}

/* background-image: url("../images/premium_dancer.png");
va a ir con el meta de tablet y pc */

/* .menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
} */