*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Gotham";
    scr: url('./css/fuentes/Gotham-Black.woff');
}
.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.logo {
    width: 90px;
    height: auto;
}
h1 {
    line-height: 100px;
}
a {
    line-height: 50px;
}

.seccion-azul{
    background-repeat: no-repeat;
    background-color:#529CF1;
    color: white;
    font-style: arial;
    padding-top: 250px;
    padding-bottom: 250px;
    margin: right 200px; 
    text-align: center; 
    
       
}
.button{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    background-color: #26B75A;
    padding-left: 100px; 
    padding-right: 150px;
    padding-top: 10px;
    position: relative;
    padding: 15px 170px;
  
}
.menu{
    display: none;
}
.link {
    text-decoration: none;
    padding: 5px;
    color: white;
}
.barra{
    color: white;
}

/* background-image: url("../images/premium_dancer.png");
va a ir con el meta de tablet y pc */

/* .menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
} */
