*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.logo {
    width: 90px;
    height: auto;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.link {
    text-decoration: none;
    padding: 5px;
    color: white;
}
.barra{
    color: white;
}