<header class="header">
        <img src="./assets/images/logo.png" alt="logo-spotify" class="logo">
            <ul class="menu">
                <li><a href="#" class="link">Premium</a></li>
                <li><a href="#" class="link">Ayuda</a></li>
                <li><a href="#" class="link">Descargar</a></li>
                <li class="barra">|</li>
                <li><a href="#" class="link">Registrarse</a></li>
                <li><a href="#" class="link">Iniciar sesión</a></li>
            </ul>
    </header>