<section class="seccion-blanca">
            <h2 class="title2">¿Por qué pasarte a Premium?</h2>
                <ul class="texto-imagenes">
                    <li class="li-white"> 
                        <img class="img-white" src="./images/benefit-1.png" alt="">
                        <span><strong>Descarga música.</strong></span><br>                      
                        <span>Llévala siempre contigo.</span> 
                    </li>
                    <li class="li-white">
                        <img src="/images/benefit-2.png" alt="" class="img-white">
                        <strong>Sin anuncios.</strong>  
                        Disfruta de música sin interrupciones.
                    </li>
                    <li class="li-white">
                        <img src="/images/benefit-3.png" alt="" class="img-white">
                        <strong>Escucha lo que quieras.</strong> 
                        Incluso en el móvil.
                    </li> 
                    <li class="li-white">
                        <img src="/images/benefit-4.png" alt="" class="img-white">
                        <strong>Salta todas las canciones que quieras.</strong> 
                        Simplemente dale a siguiente.
                    </li>
                </ul>
        </section>