@import "core/reset";
@import "core/variables";
@import "layout/header";
@import "layout/sectionBlue";
@import "layout/sectionWhite";


// /background-image: url("../images/premium_dancer.png");
// va a ir con el meta de tablet y pc 

/*.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    }*/
